img {
    width: 100%; height: 100%;
}
table, td, th {
    border: 2px solid black;
    color: red;
    font-size: 64px;
    text-align: center;
    width: 100%;
    height: 100%;
}
body {
    background-color: cornflowerblue;
    font-family: 'Spectral SC', serif;
}
td {
    background: deepskyblue;
}
th {
    background: aliceblue;
}
a {
    color: red;
}